/*TRANSACTION PAGE*/
body {
    background-repeat: no-repeat;
    background-color: #E5EFF9;
}

.header {
    height: 80px;
    width: 100vw;
    color: #F0F7EE;
    background-color: #4381C1;
}

h1 {
    position: relative;
    top: -55px;
    left: 20vw;
    font-size: 50px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: 700;
    width: 400px;
}

.back-button {
    position: relative;
    top: 26px;
    left: calc(80vw - 30px);
}

.logo {
    position: relative;
    top: -154px;
    left: calc(20vw + 410px);
}

.currentbalance-container {
    background-color: #FCFDFB;
    padding: 10px;
    display: inline-grid;
    position: relative;
    left: 20vw;
    top: 80px;
    grid-template-columns: 487px 30vw;
    grid-template-rows: 100px;
    font-size: 24px;
}

#total {
    color: #333D39;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.goal-container {
    padding-left: 10px;
    display: inline-grid;
    position: relative;
    top: 30px;
    left: 20vw;
    grid-template-columns: 187px 300px 220px 150px;
    grid-template-rows: 100px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #333D39;
}

.input-bar {
    width: 200px;
    height: 40px;
    font-size: 22px;
}

button {
    width: 150px;
    border-radius: 4px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #E99998;
    color: #F0F7EE;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.form-container {
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #333D39;
  background-color: #F0F7EE;
  position: relative;
  top: 10px;
  left: 20vw;
  display: inline-grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 100px 55px;
}

.inout-input-bar {
  width: 200px;
  height: 36px;
  margin-top: 10px;
  font-size: 20px;
}

.dropdown {
  width: 200px;
  height: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#total-graph {
    background-color: #E4F1E1;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 50px;
    left: 20vw;
    width: 60vw;
    height: 30vw;
}

.listoftrans {
  position: relative;
  top: 100px;
  left: 20vw;
  width: 60vw;
  background-color: #D8EAD3;
  color: #5C6F68;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
